[Desktop Entry]
Version=1.0
Type=Application

Name=TI-2500 Datamath
Comment=Emulator of TI-2500 calculator
Categories=Development;GNOME;

Icon=org.sergev.ti2500
Exec=ti2500
Terminal=false
